<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="${basedir}/logs/internal-nlog.log">

    <extensions>
        <add assembly="NLog.Targets.Journald"/>
    </extensions>
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="logs/${logger}.txt"
				archiveAboveSize="512000"
				maxArchiveFiles="10"
				archiveFileName="${basedir}/archives/${logger}.{#}.txt"
				createDirs="true"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception:| Exception: ${exception:format=ToString,Data}}" />
        <target xsi:type="Journald" name="journald">
            <layout>${logger} | ${message} ${onexception:| Exception: ${exception:format=ToString,Data}}</layout>
            <sysLogIdentifier>borgcompanion</sysLogIdentifier>
        </target>
        <target name="console" xsi:type="ColoredConsole">
            <layout>${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${onexception:| Exception: ${exception:format=ToString,Data}}</layout>
                <rowHighlightingRules>
                <rowColor backgroundColor="Black" foregroundColor="Gray" condition="level == LogLevel.Trace" />
                <rowColor backgroundColor="Black" foregroundColor="White" condition="level == LogLevel.Debug" />
                <rowColor backgroundColor="Black" foregroundColor="Green" condition="level == LogLevel.Info" />
                <rowColor backgroundColor="Black" foregroundColor="Yellow" condition="level == LogLevel.Warn" />
                <rowColor backgroundColor="Black" foregroundColor="Red" condition="level == LogLevel.Error" />
                <rowColor backgroundColor="Black" foregroundColor="DarkRed" condition="level == LogLevel.Fatal" />
            </rowHighlightingRules>
        </target>
	</targets>
	<!--
	1. Trace
	2. Debug
	3. Info
	4. Warn
	5. Error
	6. Fatal
	-->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" ruleName="console" />
	</rules>
</nlog>